
.sig-card-basic, .sig-card-team, .sig-card-tribe {
    position: relative;
    border-radius: 1rem;
    background: linear-gradient(140deg, $plain-white, $greyish-white);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 10px 100px -20px, rgba(0, 0, 0, 0.15) 0px 30px 60px -40px;
}

.sig-card-basic {
    .sig-card__title {
        background: -webkit-linear-gradient(124deg, $blue-gradient-bottom, $blue-gradient-top);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.sig-card-team {
    .sig-card__title {
        background: -webkit-linear-gradient(124deg, $purple-gradient-bottom, $purple-gradient-top);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.sig-card-tribe {
    .sig-card__title {
        background: -webkit-linear-gradient(124deg, $red-gradient-bottom, $red-gradient-top);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.sig-card {
    width: calc((100% / 3) - 4rem);
    min-width: 28rem;
    color: $blue-black;
    cursor: pointer;

    @media screen and (max-width: '500px') {
        width: 100%;
    }

    &--active {

        .sig-card__illustration-container, .sig-card__price-flag,
        .sig-card__background-dots, .sig-card__checkmark--filled {
            opacity: 1;
        }

        .sig-card__bullit-container {
            margin-top: 6rem;

            p {
                color: $plain-white;
            }
        }

        .sig-card__label, .sig-card__price-label, .sig-card__price {
            color: $plain-white;
        }

        .sig-card-basic {
            background: linear-gradient(140deg, $blue-gradient-top, $blue-gradient-bottom);
            box-shadow: rgba($blue-gradient-top, 0.1) 0px 1px 1px 0px inset, rgba($blue-gradient-bottom, 0.25) 0px 10px 100px -20px, rgba($blue-gradient-bottom, 0.35) 0px 30px 60px 0px;
        }

        .sig-card-team {
            background: linear-gradient(140deg, $purple-gradient-top, $purple-gradient-bottom);
            box-shadow: rgba($purple-gradient-top, 0.1) 0px 1px 1px 0px inset, rgba($purple-gradient-bottom, 0.25) 0px 10px 100px -20px, rgba($purple-gradient-bottom, 0.35) 0px 30px 60px 0px;
        }

        .sig-card-tribe {
            background: linear-gradient(140deg, $red-gradient-top, $red-gradient-bottom);
            box-shadow: rgba($red-gradient-top, 0.1) 0px 1px 1px 0px inset, rgba($red-gradient-bottom, 0.25) 0px 10px 100px -20px, rgba($red-gradient-bottom, 0.35) 0px 30px 60px 0;
        }

        .sig-card__title {
            background: -webkit-linear-gradient(124deg, $plain-white, $greyish-white);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__wrapper {
        overflow: hidden;
        position: relative;
        padding: 3.5rem;
        border-radius: 1rem;
    }

    &__level {
        font-weight: bold;
        font-family: 'MenloBold';
        font-size: 1.5rem;
        margin: 0 0 0.5rem 0;
    }

    &__title {
        font-weight: bold;
        font-family: 'Futura';
        font-size: 3.6rem;
        margin: 0;
    }

    &__label {
        display: block;
        margin-top: 1rem;
        font-size: 1.3rem;
        font-weight: 400;
        font-family: 'Futura';
        opacity: 0.6;
    }

    &__bullit {
        padding: 0.6rem 0;
        display: flex;
        font-family: 'Futura';
        font-weight: 500;
        font-size: 1.4rem;   

        &--no-benefit {
            opacity: 0.35;
        }
        
        p {
            padding-top: 0.2rem;
            padding-left: 1.2rem;
        }
    }

    &__bullit-container {
        margin-top: 3rem; 
    }

    &__checkmark {
        border: 1px solid $confirm-green;
        border-radius: 50rem;
        height: 1.5rem;
        width: 1.5rem;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            fill: $confirm-green;
        }

        &--filled {
            transition: opacity 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            opacity: 0;
            height: 2.2rem;
            width: 2.2rem;
            background-color: $confirm-green;
            position: absolute;
            bottom: -1.1rem;
            left: 50%;
            right: 50%;
            transform: translate(-50%);

            svg {
                fill: $plain-white;
            }
        }
    }

    &__price {
        position: relative;
        font-size: 2.2rem;
        font-weight: bold;
        font-family: 'Menlo';
        margin: 2.5rem 0 0.5rem 0;
        text-align: center;
    }

    &__price-label {
        font-size: 1.2rem;
        font-family: 'Futura';
        font-weight: 500;
        opacity: 0.5;
        margin-left: -0.7rem;
    }

    &__price-flag {
        opacity: 0;
        position: absolute;
        top: -2.8rem;
        right: 0.7rem;
    }

    &__background-dots {
        //transition: opacity 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    &__illustration-container {
        opacity: 0;
        position: absolute;

        &--single-girl {
            top: -6.6rem;
            right: 5rem;
        }

        &--single-boy {
            top: -6.6rem;
            right: 14rem;
        }

        &--single-baby {
            top: -3.9rem;
            right: 11rem;
        }

        &--single-teacher {
            left: 12.1rem;
            top: 4.8rem;
            z-index: 2;
        }

        &--bottom-boy {
            bottom: -2.6rem;
            left: 3rem;
        }
    }
}