
@font-face {
    font-family: 'FuturaMedium';
    src: url("../fonts/FuturaMedium.ttf") format("truetype");
}

@font-face {
    font-family: 'FuturaBold';
    src: url("../fonts/FuturaBold.ttf") format("truetype");
}

@font-face {
    font-family: 'MenloBold';
    src: url("../fonts/MenloBold.ttf") format("truetype");
}

@font-face {
    font-family: 'MenloRegular';
    src: url("../fonts/MenloRegular.ttf") format("truetype");
}
