

.sig-options {
    margin-top: 6rem;

    @media screen and (max-width: '800px') {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: '450px') {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: unset;
    }
    
    &__label {
        font-size: 1.4rem;
        color: $blue-black;
        font-family: 'Futura';
        font-weight: 500;
    }

    &__button {
        font-size: 1.4rem;
        color: $plain-white;
        font-family: 'Futura';
        border: 1px solid $blue-black;
        background-color: $plain-white; 
        border-radius: 0.5rem;
        height: 4rem;  
        cursor: pointer;
    }

    &__button-container {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;  
        
        @media screen and (max-width: '800px') {
            flex-direction: column;
        }
    }

    &__slider-button {
        position: relative;
        width: 30rem;

        &--right {
            .sig-options__slider-front {
                right: 0;
                left: auto
            }
        }

        @media screen and (max-width: '450px') {
            width: 100%;
        }
    }

    &__slider-front {
        //transition: all 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 0.4rem;
        height: 100%;
        width: 50%;
        background-color: $blue-black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__slider-text-monthly {
        display: block;

        svg {
            left: 3.5rem;
            top: 1.3rem;
        }

        p {
            color: $plain-white;
            position: absolute;
            top: 1rem;
            left: 5.8rem;
        }
    }

    &__slider-text-annually {
        display: block;

        svg {
            left: 18.5rem;
            top: 1.3rem;
        }

        p {
            position: absolute;
            top: 1rem;
            left: 20.8rem;
            color: $blue-black;
        }
    }

    &__slider-text-no-color {
        p {
            color: $plain-white!important;
        }
    }

    &__to-payment {
        min-width: 18rem;
        color: $blue-black;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 4rem;

        &:hover {
            .sig-options__to-payment-chevron {
                right: -3rem;
            }
        }
        
        @media screen and (max-width: '800px') {
            margin-top: 3rem;
            right: 0;
            width: 10rem;
        }   
        
        @media screen and (max-width: '500px') {
            margin-top: 3rem;
            right: 0;
            width: calc(100% - 6rem);
        }   
    }

    &__to-payment-icon {
        height: auto;
        width: 2.5rem;
        margin-right: 1.5rem;
    }

    &__to-payment-chevron {
        position: absolute;
        right: -4rem;
        transition: right 0.15s ease-in-out;
    }

    &__checkmark {
        position: absolute;
    }
    
}